# https://EditorConfig.org
root = true

[*.{css,ftlh,gradle,java,json,md,yml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,ftlh,gradle,json,md,yml}]
indent_style = space
indent_size = 2
max_line_length = 120

[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
